[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Get danmu of douyutv
[access "refs/*"]
	owner = group user/fish (fishioon)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/fish (fishioon)
	label-Verified = -1..+1 group user/fish (fishioon)
	push = group user/fish (fishioon)
	read = group user/fish (fishioon)
	rebase = group user/fish (fishioon)
	removeReviewer = group user/fish (fishioon)
	submit = group user/fish (fishioon)
[access "refs/heads/*"]
	create = group user/fish (fishioon)
	push = +force group user/fish (fishioon)
	pushMerge = group user/fish (fishioon)
	read = group user/fish (fishioon)
[access "refs/tags/*"]
	push = group user/fish (fishioon)
	push = +force group user/fish (fishioon)
